*{   padding:  0; margin: 0;}
a{ text-decoration: none;}

kbd{   height: 4em;width: 4em;
    /* 内联元素宽高无效，加上 display: inline-block 不推荐使用 */
    display: inline-block;
    /* 把小写变成大写字母 */
    text-transform: uppercase;
    position: relative;
}
kbd>button{
    border: 0px;
    position: absolute;
    /* right: 0;
    bottom: 0; */
    right: 32px;
    bottom: 25px;
    display: none;
    background:yellow;
    width: 14px;
    height: 14px;
    border-radius: 2px;
}
kbd:hover>button{
    display: inline-block;
    
}
kbd:hover>button:hover{
    display: inline-block;  
    background: gray;
}
body{

    background: gray url(../images/wall-min.jpg) no-repeat center center;
    background-size: cover;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainFather{
    display: inline-block;    
}

#mainFather div:nth-child(2){
    margin-left: -22px;
}
#mainFather div:nth-child(3){
    margin-left: -80px;
}
.wapper{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.key{
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 0%,#111111 100%);
    color: #c5c5c5;
    border: 1px solid #373737;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3PX 0 2px #080808;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}   
.row{
    margin: 20px;
}
.row .key{
    margin:  0 10px;
}

.key img{
    width: 12px;
    height: 12px;
    margin-left: -15px;
    margin-top: 25px;

}
    
